extends layout

block content
    h1 #{title}: 
    a(href=bookInstance.url) #{bookInstance.book.title} : #{bookInstance.imprint} - 
        if bookInstance.status== 'Available'
            span.text-success  #{bookInstance.status}
        else if bookInstance.status=='Maintenance'
            span.text-danger #{bookInstance.status}
        else
            span.text-warning #{bookInstance.status}
        if bookInstance.status!='Available'
            span    (Due: #{bookInstance.due_back_formatted} )

    p Do you really want to delete this Genre?

    form(method='POST' action='')
      div.form-group
        input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookInstance._id )

      button.btn.btn-primary(type='submit') Delete
